.only-desktop{ 
    display: none;
}

header{
    & nav{
        display: flex;
        gap: 2rem;
    }

    & nav:last-child{ 
        overflow: scroll;
    }

    & nav::-webkit-scrollbar {
        display: none;
    }
     
    #secondary { 
        overflow-x: auto; 
        white-space: nowrap;  
    }
}

.container{
    padding-inline: 1rem;
    grid-template-columns: 1fr;    
}

main{ 
    row-gap: 2rem;
    column-gap: 0;
    margin-block: 1rem;
    
    grid-template-areas: 
    "featured"
    "weekly"
    "ai"
    "aside";

    .grid {
        grid-template-columns: 1fr;  
    }

    #featured{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
        justify-content: center;

        & .card {
            display: flex;
            flex-direction: column;  
            width: 100%;   
            height: auto;   
          
            & img {
              width: 100%;  
              height: auto;   
            }
        }
    }

    #weekly{
        display: flex;
        flex-wrap: wrap;  

        & header{
            display: flex;  
            justify-content: space-between;
            width: 100%;
             
        }

        & div {
            display: flex;
            flex-direction: column;  
            width: 100%;   
            height: auto;   
          
            & img {
              width: 100%;  
              height: auto;   
            }
        }
    }
}

#ai{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    justify-content: center; 

    article{
        position: relative; 
        display: grid;
        grid-template-columns: 25% 72%;
    }

    article div:first-child {   
       grid-column: 2;
    } 

    article div:last-child {
        grid-column: 1;
        img {   
            width: 100%; 
            min-width: 5rem;
            min-height: 5rem;
            max-width: 7.5rem;
            max-height: 7.5rem;
        }
    }
}

aside{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    justify-content: center; 
    padding-bottom: 2.5rem;

    article{
        position: relative; 
        display: grid;
        grid-template-columns: 25% 72%;
    }

    article div:first-child {  
       img {   
            width: 100%; 
            min-width: 4.5rem;
            min-height: 4.5rem; 
        }
    }    
}