.only-desktop{ 
    display: none;
}

header{
    
    & nav{
        display: flex;
        gap: 2rem;
    }

    & nav:last-child{ 
        overflow: scroll;
    }

    & nav::-webkit-scrollbar {
        display: none;
    }
     
    #secondary { 
        overflow-x: auto; 
        white-space: nowrap;  
      }     
}

.container{
    padding-inline: 1rem;
}

main{ 

    .grid {
        grid-template-columns: 1fr;  
      }

    #featured{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
        justify-content: center;

        & .card {
            display: flex;
            flex-direction: column;  
            width: 100%;   
            height: auto;   
          
            & img {
              width: 100%;  
              height: auto;   
            }
          }
          
    }
}